$rule_id,$display_name,$detection_time,$detection_count,$rule_count
ru_acme_01,r01_win_schtasks_create,{{ts:-10}},120,1
ru_acme_02,r02_lsass_access,{{ts:-3}},900,1
ru_acme_03,r03_portproxy,{{ts:-200}},4,1
ru_acme_04,r04_service_list,{{ts:-20}},7,1
ru_acme_05,r05_okta_push_spam,0,777,1
ru_acme_07,r07_comment_and_negation,{{ts:-5}},33,1
ru_acme_08,r08_untagged,{{ts:-2}},12,1
ru_acme_09,r09_revoked_tag,{{ts:-40}},3,1
ru_acme_10,r10_never_fired,0,0,1
ru_acme_11,r11_disabled,{{ts:-1}},50,1
ru_acme_12,r12_login_then_exec,{{ts:-15}},21,1
ru_acme_13,r13_o365_download,{{ts:-60}},9,1
